@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

$title-font: "Alice", sans-serif;
$text-font: "Poppins", sans-serif;

$dimensions-small-mobile: 320px;
$dimensions-mobile: 480px;
$dimensions-tablet: 768px;
$dimensions-laptop: 1024px;
$dimensions-desktop: 1440px;

$primary-color-green: #04b90b;
$light-color-green: #ddf3d8;
$background-color-white: #fcfcfd;
$background-color-grey: #f4f5f6;
$background-color-light-grey: #e6e8ec;
$text-color-black: #23262f;
$text-color-grey: #777e90;
$text-color-white: #fcfcfd;

$space-small: 4px;
$space-medium: 8px;
$space-large: 12px;
$space-xl: 16px;
$space-xxl: 20px;
$space-40: 40px;
$space-50: 50px;
$space-60: 60px;
$space-80: 80px;
$space-great: 100px;

$font-hero: 72px;
$font-h1: 3.5rem;
$font-h2: 3.5rem;
$font-h3: 3.5rem;
$font-h4: 32px;
$font-28: 28px;
$font-24: 24px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;

h1 {
	font-size: $font-h1;
	font-family: $title-font;
	color: $text-color-black;
	margin: $space-large 0;
}

p {
	font-size: $font-24;
	font-family: $text-font;
	color: $text-color-grey;
	margin: $space-large 0;
}
