@use "../../styles/global.scss" as global;

.dish-scroll-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	.dish-scroll-container {
		display: flex;
		scroll-behavior: smooth;
		overflow-x: auto;
		scrollbar-width: none;
		scroll-snap-type: x mandatory;
		gap: global.$space-20;
		overflow-x: hidden;
		justify-content: center;
		padding: clamp(0px, 0.5vw, 20px);
	}
	.dish-card {
		transition: transform 0.5s ease, opacity 0.5s ease;
	}
}
.scroll-controls {
	display: none;
	width: 100%;
	top: 50%;
	justify-content: center;
	gap: global.$space-50;
	.scroll-controls button {
		border: none;
		cursor: pointer;
	}
	button,
	button:hover,
	button:focus {
		padding: 0;
		border: none;
		outline: none;
		background-color: transparent;
	}
}

@media screen and (min-width: global.$dimensions-laptop) {
	.scroll-controls {
		display: flex;
	}
}
