.icon-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	position: relative;
	transition: all 0.3s;
	vertical-align: middle;
	z-index: 1;

	&:focus {
		outline: none;
	}
}
