@use "../../styles/global.scss" as global;

.nav-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	align-items: center;
	padding: global.$space-8 0;
	background-color: global.$background-color-white;
	position: fixed;
	width: 100%;
	z-index: 9999;
	justify-content: space-between;
}

.nav-left {
	margin-left: global.$space-20;
	.nav-logo {
		display: flex;
		width: global.$space-great;
	}
}

.nav-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: global.$space-4 global.$space-20;

	.hamburger-container {
		grid-row: 1;
		justify-self: end;
	}
}

.nav-links-container {
	grid-row: 2;
	display: none;
	flex-direction: column;
	align-items: center;
	background-color: global.$background-color-white;
	width: 100%;
	position: absolute;
	top: 100%;
	padding-bottom: global.$space-20;

	&.open {
		display: flex;
	}

	.nav-link {
		font-family: global.$text-font;
		color: global.$text-color-grey;
		font-size: global.$font-18;
	}

	.order-btn {
		display: none;
	}
}

@media screen and (min-width: global.$dimensions-tablet) {
	.nav-container {
		padding-top: global.$space-20;
		display: flex;

		.nav-left {
			// padding: global.$space-8;
			margin-left: global.$space-40;
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			.nav-logo {
				display: flex;
				width: 150px;
				min-width: global.$space-great;
				justify-self: center;
			}
		}

		.nav-right {
			display: none;
		}

		.nav-links-container {
			display: flex;
			flex-direction: row;
			position: static;
			width: auto;
			gap: global.$space-20;
			padding-bottom: 0;
			margin-right: global.$space-40;
			.order-btn {
				display: block;
			}
		}
	}
}

@media screen and (min-width: global.$dimensions-laptop) {
	.nav-container {
		display: flex;
		padding-top: global.$space-20;

		.nav-left {
			padding: global.$space-8;
			margin-left: global.$space-great;
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			.nav-logo {
				display: flex;
				width: 150px;
				min-width: global.$space-great;
				justify-self: center;
			}
		}

		.nav-right {
			display: none;
		}

		.nav-links-container {
			display: flex;
			flex-direction: row;
			position: static;
			width: auto;
			gap: global.$space-20;
			padding-bottom: 0;
			margin-right: global.$space-great;
			.order-btn {
				display: block;
			}
		}
	}
}
