@use "../../../styles/global.scss" as global;

.hero {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: center;
	flex-grow: 1;
	width: 100%;
	margin-top:50px;

	.hero-left {
		display: grid;
		grid-template-rows: auto;
		justify-items: center;
		text-align: center;
		margin-top: global.$space-30;
		gap: global.$space-30;

		.hero-text {
			display: grid;
			gap: global.$space-8;
			justify-content: center;

			h1 {
				color: global.$text-color-black;
				font-size: clamp(32px, 5vw, 72px);
				font-family: global.$title-font;
				margin: global.$space-4 0;
			}

			p {
				font-size: clamp(18px, 2vw, 24px);
				font-family: global.$text-font;
				margin: 0 global.$space-12;
				max-width: 100%;
			}
		}

		.order-menu {
			display: grid;
			place-items: center;
			> a {
				display: none;
				font-size: global.$font-18;
			}
		}

		.stats-container {
			display: none;
		}
	}

	.hero-right {
		display: grid;
		justify-items: center;
		align-items: end;
		position: relative;
		height: 100%;
		width: 100%;

		.main-img {
			width: clamp(250px, 35vw, 450px);
			z-index: 1;
			align-self: baseline;
		}

		.green-background {
			position: absolute;
			background-color: global.$light-color-green;
			width: clamp(100%, 40vw, 300px);
			height: clamp(175px, 37vw, 500px);
			border-radius: 50% 50% 0 0;
		}
	}
}

@media screen and (min-width: global.$dimensions-tablet) {
	.hero {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		justify-items: start;

		.hero-left {
			text-align: left;
			align-self: center;
			align-items: start;
			margin-left: clamp(8px, 6vw, 40px);
			margin-top: 50;
			justify-items: start;
			.hero-text {
				h1 {
					white-space: nowrap;
				}
				p {
					max-width: 100%;
					font-size: global.$font-24;
				}
			}
			.order-menu {
				display: flex;
				gap: global.$space-30;
				margin: global.$space-8 0 global.$space-50 0;
				> a {
					display: block;
					font-size: global.$font-18;
					color: global.$primary-color-green;
				}
			}
			.stats-container {
				display: grid;
				grid-row: -1;
				grid-template-columns: 1fr auto 1fr;
				background-color: global.$background-color-grey;
				border-radius: 16px;
				padding: global.$space-4 global.$space-8;
				.stats-left,
				.stats-right {
					text-align: center;
					margin: global.$space-8 global.$space-20;
					> h4 {
						align-self: center;
						font-size: clamp(18px, 1.8vw + 0.5rem, 28px);
						font-family: "Poppins", sans-serif;
						color: global.$text-color-grey;
						margin: 0;
					}
					> p {
						font-family: "Poppins", sans-serif;
						color: global.$text-color-grey;
						font-size: clamp(10px, 1vw + 0.5rem, 20px);
						margin: 0;
					}
				}
				.space-divider {
					align-self: center;
					margin: 0 global.$space-4;
					width: 2px;
					height: 70%;
					background-color: global.$background-color-light-grey;
				}
			}
		}

		.hero-right {
			justify-items: flex-end;
			.main-img {
				align-self: center;
				justify-self: center;
				margin-bottom: 0;
				margin-right: 0;
			}
			.green-background {
				border-radius: 100% 0 0 0;
			}
		}
	}
}
