@use "../../../styles/global.scss" as global;

.hero {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	align-items: center;
	flex-grow: 1;

	.hero-left {
		display: grid;
		grid-template-rows: auto auto;
		justify-items: center;
		text-align: center;
		margin-top: global.$space-50;
		gap: global.$space-30;

		.hero-text {
			display: grid;
			gap: global.$space-8;
			justify-content: center;

			h1 {
				color: global.$text-color-black;
				font-size: clamp(24px, 5vw, 72px);
				font-family: global.$title-font;
				margin: global.$space-4 0;
			}

			p {
				font-size: clamp(0.875rem, 2.5vw, 1.25rem);
				font-family: global.$text-font;
				margin: 0 auto;
				max-width: 90%;
			}
		}

		.order-menu {
			display: grid;
			place-items: center;
			> a {
				display: none;
			}
		}

		.stats-container {
			display: none;
		}
	}

	.hero-right {
		display: grid;
		justify-items: center;
		align-items: end;
		position: relative;
		height: 100%;
		width: 100%;

		.main-img {
			width: clamp(120px, 40vw, 200px);
			z-index: 1;
			margin-bottom: global.$space-30;
		}

		.green-background {
			position: absolute;
			background-color: global.$light-color-green;
			width: clamp(100%, 80vw, 600px);
			height: clamp(20px, 20vh, 600px);
			border-radius: 50% 50% 0 0;
		}
	}
}

@media screen and (min-width: global.$dimensions-tablet) {
	.hero {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		justify-items: start;

		.hero-left {
			text-align: left;
			align-self: center;
			align-items: start;
			margin-left: clamp(8px, 6vw, 40px);
			margin-top: global.$space-20;
			justify-items: start;
			.hero-text {
				h1 {
					font-size: clamp(1.8rem, 3vw, 3.5rem);
				}
				p {
					max-width: 100%;
					font-size: global.$font-24;
				}
			}
			.order-menu {
				display: flex;
				gap: global.$space-30;
				margin: global.$space-8 0 global.$space-50 0;
				> a {
					display: block;
					font-size: global.$font-18;
					color: global.$primary-color-green;
				}
			}
			.stats-container {
				display: grid;
				grid-row: -1;
				grid-template-columns: 1fr auto 1fr;
				background-color: global.$background-color-grey;
				border-radius: 16px;
				padding: global.$space-8 global.$space-12;
				.stats-left,
				.stats-right {
					text-align: center;
					margin: 8px 18px;
					> h4 {
						align-self: center;
						font-size: clamp(16px, 2vw, 20px);
						font-family: "Poppins", sans-serif;
						color: global.$text-color-grey;
						margin: 0;
					}
					> p {
						font-family: "Poppins", sans-serif;
						color: global.$text-color-grey;
						font-size: clamp(10px, 1.5vw, 18px);
						margin: 0;
					}
				}
				.space-divider {
					align-self: center;
					margin: 0 global.$space-4;
					width: 2px;
					height: 70%;
					background-color: global.$background-color-light-grey;
				}
			}
		}

		.hero-right {
			justify-items: flex-end;
			.main-img {
				width: clamp(200px, 40vw, 350px);
				align-self: center;
				justify-self: center;
				margin-bottom: 0;
				margin-right: 0;
				// margin-left: 100px;
			}
			.green-background {
				width: clamp(400px, 50vw, 600px);
				height: clamp(400px, 50vh, 600px);
				border-radius: 100% 0 0 0;
			}
		}
	}
}

@media screen and (min-width: global.$dimensions-laptop) {
	.hero {
		.hero-left {
			margin-left: global.$space-great;
			.order-menu {
				gap: global.$space-30;
				> a {
					font-size: global.$font-20;
				}
			}
		}
		.hero-right {
			.main-img {
				width: clamp(350px, 40vw, 375px);
			}
			.green-background {
				align-self: flex-end;
			}
		}
	}
}
