@use "../../../styles/global.scss" as global;

.michelin {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	padding: 0 10px;

	h1 {
		align-self: flex-end;
		font-family: global.$title-font;
		color: global.$text-color-black;
		font-size: 28px;
		text-align: center;

		span {
			margin-right: global.$space-12;
		}
		.green-text {
			color: global.$primary-color-green;
		}
	}

	.michelin-container {
		.michelin-left {
			display: none;
			padding: 20px;
			img {
				width: 100%;
			}
		}

		.michelin-right {
			display: grid;
			grid-template-areas:
				"title"
				"text-info"
				"link-container";

			.name {
				grid-area: title;
				font-family: global.$title-font;
				color: global.$primary-color-green;
				font-size: 16px;
			}

			.text-info {
				grid-area: text-info;
				display: flex;
				flex-direction: column;

				> p {
					margin: 0 0 10px 0;
					text-align: start;
					font-family: global.$text-font;
					color: global.$text-color-dark-grey;
					width: 100%;
					font-size: 14px;
				}
			}

			.link-container {
				grid-area: link-container;
				display: flex;
				flex-direction: row;
				gap: 10px;

				a {
					font-family: global.$title-font;
					color: global.$primary-color-green;
					font-size: 16px;
				}

				a,
				.icon-arrow {
					align-self: center;
				}
			}
		}
	}
}

@media screen and (min-width: global.$dimensions-tablet) {
	//TODO Fix styling for större skärmar

	.michelin {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		h1 {
			font-family: global.$title-font;
			color: global.$text-color-black;
			font-size: 32px;

			span {
				margin-right: global.$space-12;
			}

			.green-text {
				color: global.$primary-color-green;
			}
		}

		.michelin-container {
			display: grid;
			grid-template-columns: 45% 55%;
			grid-template-rows: 1fr;
			width: 100%;
			gap: 20px;
			.michelin-left {
				display: block;
				padding: 20px;
				img {
					width: 90%;
				}
			}

			.michelin-right {
				.link-container {
					display: flex;
					flex-direction: row;
					gap: 20px;
					cursor: pointer;

					p {
						font-family: global.$text-font;
						color: global.$text-color-dark-grey;
						width: 100%;
						font-size: 16px;
					}
					a {
						font-size: 14px;
						font-family: global.$title-font;
						color: global.$primary-color-green;
					}
					a,
					.icon-arrow {
						align-self: center;
					}
				}
			}
			.text-info {
				display: flex;
				flex-direction: column;
				gap: 20px;
				p {
					font-family: global.$text-font;
					color: global.$text-color-dark-grey;
					width: 100%;
					font-size: 16px;
				}
			}
		}
	}
}
