@use "../../styles/global.scss" as global;

.dish-card {
	background: #fff;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 14px;
	border-radius: 15px;
	width: 100%;
	max-width: 225px;
	height: 100%;
	max-height: 370px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;

	.dish-image {
		width: 50%;
		min-height: 112.5px;
	}

	.dish-header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;

		h1 {
			font-size: 20px;
			width: 50%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.heat-info {
			display: flex;
			align-items: center;
			border: 1px solid global.$primary-color-green;
			border-radius: 6px;
			padding: 4px 6px;
			gap: 2px;

			p {
				color: global.$primary-color-green;
				font-size: 14px;
				font-weight: bold;
				margin: 0;
			}
		}
	}
	&.hidden {
		height: max-content;
	}

	.info-section {
		.reviews {
			align-self: flex-start;
			display: flex;
			align-items: center;
			gap: 5px;

			.stars {
				display: flex;
			}
			p {
				color: global.$text-color-dark-grey;
				font-size: 14px;
				margin-bottom: 0;
				margin-top: 2px;
				width: 100%;
			}
		}

		.flavor {
			text-align: left;
			width: 100%;

			ul {
				margin: 5px 0 0 20px;
				padding: 0;
			}

			p,
			li {
				color: global.$text-color-dark-grey;
				font-size: 12px;
				margin: 0;
				text-align: left;
				width: 100%;
			}
		}

		&.hidden {
			display: none;
		}
	}

	.order {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		gap: 20px;

		p {
			font-family: global.$title-font;
			font-size: 32px;
			color: global.$primary-color-green;
			margin: 0;
			width: fit-content;
			align-self: center;
		}

		.order-btn {
			width: 50%;
		}
	}
}
