@use "./styles/global.scss" as global;

html,
body,
#root {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: global.$background-color-white;
	.container {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		scroll-snap-type: y mandatory;
		.section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
			scroll-snap-align: start;

			@media screen and (min-width: global.$dimensions-tablet) {
				justify-content: flex-end;
			}
		}
	}
}
