@use "./styles/global.scss" as global;

html,
body,
#root {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: global.$background-color-white;
	.container {
		.section {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			font-size: 2rem;
			transition: transform 2s ease-in-out;
		}
	}
}
