@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import "tailwindcss";

:root {
  --hero-img: url("/hero-ramen.png");
  --font-header: "Alice", sans-serif;
  --color-background: #fcfcfd;
  --navtext-primary: #777e90;
  --navtext-hover: #575c69;

  --color-light_green: #ddf3d8;
  --color-green: #04b90b;

  /* -------------------------------------------------------------------------------- */
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility; */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */
/* a:hover {
  color: #535bf2;
} */

html {
  overflow-x:hidden;
}
body {
  font-family: "Poppins", sans-serif;;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.c-space {
  @apply sm:px-10 px-5 lg:px-15;
}

.hover-animation {
  @apply hover:-translate-y-1 duration-200;
}

.section-spacing {
  @apply min-h-screen mt-20 md:mt-30;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
