@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import "tailwindcss";

:root {
  --hero-img: url("/hero-ramen.png");
  --font-header: "Alice", sans-serif;
  --color-background: #fcfcfd;
  --text-neutral: #777e90;
  --navtext-hover: #575c69;

  --color-light_green: #ddf3d8;
  --color-green: #04b90b;
}

html {
  overflow-x:hidden;
}
body {
  background-color: var(--color-background);
  font-family: "Poppins", sans-serif;;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.c-space {
  @apply sm:px-10 px-5 lg:px-15;
}

.section-spacing {
  @apply min-h-screen mt-20 md:mt-30;
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
}

.snap-child {
  scroll-snap-align: center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
